<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Your Name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your Name professional website">
    <title>Margaret Chai - For Fun</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <h1 id="webname">Margaret Chai</h1>
    <script defer src="./static/script.js"></script>
</head>
<nav class="title-nav">
<ul>
    <li><a class="nav-link" href="../index.html">About</a></li>
    <li><a class="nav-link" href="../views/cv.html">Resume</a></li>
    <li><a class="nav-link" href="../views/fun.html">Play</a></li>
    <li><a class="nav-link" href="../views/contact.html">Contact</a></li>
</ul>
</nav>

<body>
    <div class="main">
        <h2>Things I love to do for fun</h2>
            <ul>
                <li>Traveling to new places</li>
                <li>Kpop Dance</li>
                <li>Reading books</li>
                <li>Watching movies</li>
                <li>Outdoor activities</li>
            </ul>
    </div>

    <footer>
        <p>&copy; 2025 Margaret Chai. All rights reserved.</p>
    </footer>
</body>
</html>