<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Your Name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your Name professional website">
    <title>Margaret Chai - For Fun</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <h1 id="webname">Margaret Chai</h1>

    <script defer src="../static/script.js"></script>
</head>
<nav class="title-nav">
    <ul>
        <li><a class="nav-link" href="../index.html">About</a></li>
        <li><a class="nav-link" href="../views/cv.html">Resume</a></li>
        <li><a class="nav-link" href="../views/fun.html">Play</a></li>
        <li><a class="nav-link" href="../views/contact.html">Contact</a></li>
    </ul>
</nav>

<body onload="addYear()">
    <div class="mainLayout">
        <div id="item1">
        <h2>Things I love to do for fun</h2>
        <!-- <button id="readMoreButton" onclick="showList()">Read More</button> -->
        <ul id="funList">
                <li>Traveling to new places</li>
                <li>Kpop Dance</li>
                <li>Reading books</li>
                <li>Watching movies</li>
                <li>Outdoor activities</li>
        </ul>
    </div>
    <div id="item2">
        <img class="funIMG" src="../static/cmu.jpg" alt="Fun Image">
    </div>
    <div id="item3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/FiwRAB5A2oc?si=c8xKgnl8rxZEu_j1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div id="item4">
        <div class="container">
            <h2>Need Some Advice?</h2>
            <p id="adviceText">Click the button to get a random piece of advice!</p>
            <button onclick="getAdvice()">Get Advice</button>
        </div>
    </div>
</div>

    <footer>
        <p>&copy; <span id="copyYear"></span> Margaret Chai. All rights reserved.</p>
    </footer>
</body>
</html>