<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Your Name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your Name professional website">
    <title>Margaret Chai - CV</title>
</head>
<body style="font-family: Arial">
<body>
    <header>
        <h1>Margaret Chai</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="cv.html">CV</a></li>
                <li><a href="contact.html">Contact me</a></li>
                <li><a href="fun.html">For fun</a></li>
            </ul>
    </header>

    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Springer Capital</td>
                    <td>Collaborated with cross-functional teams to design and implement user-friendly features for a real estate crowdfunding platform, optimizing capital market accessibility
                    </td>
                </tr>
                <tr>
                    <td>Eat 100</td>
                    <td>Formulated and executed a market growth strategy plan, developing a digital promotion campaign to increase brand presence and drive profitability</td>
                </tr>
        </table>
        <p>Download my resume: <a href="../static/resume.pdf">Resume (PDF)</a></p>
    </div>

    <footer>
        <p>&copy; 2025 Margaret Chai. All rights reserved.</p>
    </footer>
</body>
</html>