<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Your Name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your Name professional website">
    <title>Margaret Chai - CV</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <h1 id="webname">Margaret Chai</h1>
</head>
<nav class="title-nav">
<ul>
    <li><a class="nav-link" href="../index.html">About</a></li>
    <li><a class="nav-link" href="../views/cv.html">Resume</a></li>
    <li><a class="nav-link" href="../views/fun.html">Play</a></li>
    <li><a class="nav-link" href="../views/contact.html">Contact</a></li>
</ul>
</nav>
<body> 
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Springer Capital</td>
                    <td>Collaborated with cross-functional teams to design and implement user-friendly features for a real estate crowdfunding platform, optimizing capital market accessibility
                    </td>
                </tr>
                <tr>
                    <td>Eat 100</td>
                    <td>Formulated and executed a market growth strategy plan, developing a digital promotion campaign to increase brand presence and drive profitability</td>
                </tr>
                <tr>
                    <td>GreenTech Solutions</td>
                    <td>Assisted in developing and implementing social media campaigns, resulting in a 25% increase in followers across platforms. </td>
                </tr>
                <tr>
                    <td>Insight Analytics</td>
                    <td>Worked on analyzing customer data to identify purchasing patterns and preferences. </td>
                </tr>
        </table>
            <p>Download my resume: <a href="../static/resume.pdf">Resume (PDF)</a></p>
        </div>

    <footer>
        <p>&copy; 2025 Margaret Chai. All rights reserved.</p>
    </footer>
</body>
</html>